html,
body {
  background-color: #f6f6f6;
  max-width: 100%;
  overflow: hidden;
}
.content-without-overlay-wrapper {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.pirate-button-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pirate-button {
  background-color: transparent;
  border: 0px;
  outline: unset;
  padding: 0px;
  transition: 1.3s;
}
.audio-playing {
  transform: scale(1.5);
}
.video {
  pointer-events: none;
}
.pirates-img {
  width: 30vw;
}
@media screen and (max-width: 600px) {
  .pirates-img {
    width: 60vw;
  }
}
